/* Nav Bar ================================================================= */
.top-bar {
	background-color: #2F2F2F;
}

.top-bar li {
	background-color: #2F2F2F;
}

.top-bar li a {
	color: white;
}

/* Welcome ================================================================= */
#top {
	text-align: center;
	color: white;
	width: 100%;
	height: 35rem;
	background-image: url('highland-inside3.jpg');
	background-repeat: no-repeat;
	object-fit: fill;
}

/* Menu ==================================================================== */
.menu-section {
	background-color: #800000;
	color: white;
	margin: 3rem 0;
}

.menu-title {
	text-align: center;
}
