body {
	background-color: white;
}

/* Nav Bar ================================================================= */
.top-bar {
	background-color: #2F2F2F;
}

.top-bar li {
	background-color: #2F2F2F;
}

.top-bar li a {
	color: white;
}

/* Welcome ================================================================= */
#top {
	text-align: center;
	color: white;
	background-image: url('coffeeForegroundLeft.jpg');
	background-size: cover;
	min-height: 55rem;
	background-repeat: no-repeat;
	object-fit: fill;
}

/* Menu ==================================================================== */
.menu-section {
	background-color: white;
	color: black;
}

.menu-title {
	text-align: center;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.menu-food-drink-title {
	text-align: left;
}

.menu-column {
	padding-left: 6rem;
	padding-right: 6rem;
}

.menu-sub-heading {
	text-align: left;
}

.item {
	margin-bottom: 1.5rem;
}

.item-name {
	color: red;
}

.price {
	float: right
}
