<!-- Menu Title -->
		<h2 class="menu-title">Menu</h2>


		<!-- Food ==============================================================-->
		<!-- BreakFast =========================================================-->
		<div class="row expanded">
			<div class="small-12 large-6 columns menu-column">
				<h3 class="menu-section-title">Breakfast</h3>
				<p class="menu-info"><i>Breakfast served until 11:00 A.M.</i><br><br></p>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Scramble Flatbread</span>
						<span class="price">5.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Scrambled eggs, tomato, red peppers, onion & cheddar cheese</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Breakfast Bagel</span>
						<span class="price">5.95</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Eggs, ham or bacon & cheddar cheese</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Chorizo Burrito</span>
						<span class="price">5.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Eggs, green peppers, black beans, onions, chorizo & mozzarella cheese</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Oatmeal</span>
						<span class="price">3.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served w/ milk and fruit</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Substitute yogurt or soy milk</span>
						<span class="price">.50</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Toasted Bagel</span>
						<span class="price">2.10</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served with cream cheese and choice of jelly</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Granola</span>
						<span class="price">3.50</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served with choice of yogurt or milk</span>
					</div>
				</div>

			</div>

			<!-- Lunch ===========================================================-->
			<div class="small-12 large-6 columns menu-column">
				<h3 class="menu-section-title">Lunch</h3>
				<p class="menu-info"><i>Lunch menu served from 11:30 A.M. to 6:30 P.M.<br>
				All sandwiches served with a choice of salad or potato salad</i></p>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Flatbread Sandwich</span>
						<span class="price">7.50</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Ham, w/ melted provolone cheese & red peppers</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served hot from the panini grill</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Avocado BLT</span>
						<span class="price">7.25</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Smoked bacon, lettuce, tomato & avocado</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served hot from the panini grill on ciabatta roll</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Turkey Avocado BLT</span>
						<span class="price">7.95</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Roasted turkey, smoked bacon, avocado, lettuce & tomato</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served hot from the panini grill on ciabatta roll</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Garden Sandwich</span>
						<span class="price">6.25</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Lettuce, tomato, shredded carrots, roasted red pepper, red onions, avocado & mayo</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served with the house special spread on ciabatta roll</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Ham or Turkey Swiss Croissant</span>
						<span class="price">5.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Ham or turkey w/ melted swiss cheese</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Southwest Salad</span>
						<span class="price">5.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Green lettuce, black beans, corn, tomatoes, red & green peppers, cheese, chicken & tortilla chips with spicy southwest dressing</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Bean Flatbread Quesadilla</span>
						<span class="price">4.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Refried beans, mix peppers and cheese on flatbread</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Chicken Flatbread Quesadilla</span>
						<span class="price">5.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Seasoned chicken and cheese on a flatbread</span>
					</div>
				</div>

				<h4 id="daily-special">Ask for our daily special</h3>

			</div>
		</div>

<!-- Drinks -->
		<div class="small-12 column">
			<h3 class="menu-section-title" id="menu-drinks-title">Drinks</h3>
		</div>

		<div class="row expanded">
			<div class="small-12 large-6 columns menu-column">
				<!-- Espresso =======================================================-->
				<h4 class="menu-sub-heading">Espresso</h4>
				<div id="espressoItems"></div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Espresso Shot</span>
					</div>
					<div class="item-row">
						<span class="sub-title">1 shot</span>
						<span class="price">2.10</span>
					</div>
					<div class="item-row">
						<span class="sub-title">2 shots</span>
						<span class="price">2.35</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Macchiato</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Espresso shot w/ a dash of milk</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">1 shot</span>
						<span class="price">2.25</span>
					</div>
					<div class="item-row">
						<span class="sub-title">2 shots</span>
						<span class="price">2.95</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Latte</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Frothy milk poured through espresso</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">small</span>
						<span class="price">3.50</span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">3.75</span>
					</div>
					<div class="item-row">
						<span class="sub-title">large</span>
						<span class="price">4.50</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Mocha</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Latte w/ chocolate syrup</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">small</span>
						<span class="price">3.75</span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">4.50</span>
					</div>
					<div class="item-row">
						<span class="sub-title">large</span>
						<span class="price">4.75</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Americano</span>
						<span class="price">3.50</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Espresso w/ hot water</i></span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Cappucino</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Extra frothy milk poured into espresso</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">small</span>
						<span class="price">3.50</span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">3.75</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Conpana</span>
						<span class="price">2.95</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Espresso shot w/ whipped cream</i></span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Cortado</span>
						<span class="price">2.95</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Equal parts espresso & steamed milk</i></span>
					</div>
				</div>

			</div>
		</div>
