<!-- Menu Title -->
		<h2 class="menu-title">Menu</h2>


		<!-- Food ==============================================================-->
		<!-- BreakFast =========================================================-->
		<div class="small-12 medium-6 columns menu-column">
			<h3 class="menu-food-drink-title">Breakfast</h3>
			<p><i>Breakfast served until 11:00 A.M.</i></p>

			<div class="item">
				<div class="item-row">
					<span class="item-name">Flatbread Sandwich</span>
					<span class="price">7.50</span>
				</div>
				<div class="item-row">
					<span class="sub-title">Ham, w/ melted provolone cheese & red peppers</span>
				</div>
				<div class="item-row">
					<span class="sub-title">Served hot from the panini grill</span>
				</div>
			</div>
		</div>

		<!-- Lunch ===========================================================-->
		<div class="small-12 medium-6 columns menu-column">
			<h3 class="menu-food-drink-title">Lunch</h3>
			<p><i>Lunch menu served from 11:30 A.M. to 6:30 P.M.</i></p>
		</div>
<!-- Drinks -->
		<div class="small-12 medium-6 columns menu-column">
			<h3 class="menu-food-drink-title">Drinks</h3>
			<!-- Espresso =======================================================-->
			<h4 class="menu-sub-heading">Espresso</h4>
			<div id="espressoItems"></div>

			<div class="item">
				<div class="item-row">
					<span class="item-name">Espresso Shot</span>
				</div>
				<div class="item-row">
					<span class="sub-title">1 shot</span>
					<span class="price">2.10</span>
				</div>
				<div class="item-row">
					<span class="sub-title">2 shots</span>
					<span class="price">2.35</span>
				</div>
			</div>

			<div class="item">
				<div class="item-row">
					<span class="item-name">Macchiato</span>
				</div>
				<div class="item-row">
					<span class="sub-title">1 shot</span>
					<span class="price">2.25</span>
				</div>
				<div class="item-row">
					<span class="sub-title">2 shots</span>
					<span class="price">2.95</span>
				</div>
			</div>

			<div class="item">
				<div class="item-row">
					<span class="item-name">Latte</span>
				</div>
				<div class="item-row">
					<span class="sub-title">small</span>
					<span class="price">3.50</span>
				</div>
				<div class="item-row">
					<span class="sub-title">medium</span>
					<span class="price">3.75</span>
				</div>
				<div class="item-row">
					<span class="sub-title">large</span>
					<span class="price">4.50</span>
				</div>
			</div>

			<div class="item">
				<div class="item-row">
					<span class="item-name">Mocha</span>
				</div>
				<div class="item-row">
					<span class="sub-title">small</span>
					<span class="price">3.75</span>
				</div>
				<div class="item-row">
					<span class="sub-title">medium</span>
					<span class="price">4.50</span>
				</div>
				<div class="item-row">
					<span class="sub-title">large</span>
					<span class="price">4.75</span>
				</div>
			</div>

			<div class="item">
				<div class="item-row">
					<span class="item-name">Americano</span>
					<span class="price">3.50</span>
				</div>
			</div>

			<div class="item">
				<div class="item-row">
					<span class="item-name">Cappucino</span>
				</div>
				<div class="item-row">
					<span class="sub-title">small</span>
					<span class="price">3.50</span>
				</div>
				<div class="item-row">
					<span class="sub-title">medium</span>
					<span class="price">3.75</span>
				</div>
			</div>

			<div class="item">
				<div class="item-row">
					<span class="item-name">Conpana</span>
					<span class="price">2.95</span>
				</div>
			</div>

			<div class="item">
				<div class="item-row">
					<span class="item-name">Cortado</span>
					<span class="price">2.95</span>
				</div>
			</div>

		</div>
