<!-- Menu Title -->
		<h2 class="menu-title">Menu</h2>

<!-- Drinks -->

		<div class="small-12 medium-6 columns" id="drinks-column">
			<h3 class="menu-food-drink-title">Drinks</h3>
			<h4 class="menu-sub-heading">Espresso</h4>
			<div id="espressoItems"></div>

			<div class="item">
				<div class="item-row">
					<span class="title">Espresso Shot</span>
				</div>
				<div class="item-row">
					<span class="sub-title">1 shot</span>
					<span class="price">2.10</span>
				</div>
				<div class="item-row">
					<span class="sub-title">2 shots</span>
					<span class="price">2.35</span>
				</div>
			</div>

		</div>

	<!-- Food -->

		<div class="small-12 medium-6 columns" id="food-column">
			<h3 class="menu-food-drink-title">Food</h3>
		</div>
