<!-- Menu Title -->
		<h2 class="menu-title">Menu</h2>


		<!-- Food ==============================================================-->
		<!-- BreakFast =========================================================-->
		<div class="row expanded">
			<div class="small-12 large-6 columns menu-column">
				<h3 class="menu-section-title">Breakfast</h3>
				<p class="menu-info"><i>Breakfast served until 11:00 A.M.</i><br><br></p>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Scramble Flatbread</span>
						<span class="price">5.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Scrambled eggs, tomato, red peppers, onion & cheddar cheese</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Breakfast Bagel</span>
						<span class="price">5.95</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Eggs, ham or bacon & cheddar cheese</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Chorizo Burrito</span>
						<span class="price">5.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Eggs, green peppers, black beans, onions, chorizo & mozzarella cheese</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Oatmeal</span>
						<span class="price">3.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served w/ milk and fruit</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Substitute yogurt or soy milk</span>
						<span class="price">.50</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Toasted Bagel</span>
						<span class="price">2.10</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served with cream cheese and choice of jelly</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Granola</span>
						<span class="price">3.50</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served with choice of yogurt or milk</span>
					</div>
				</div>

				<p id="menu-pastries"><i>Serving pastries from Troubadour all day</i></p>

			</div>

			<!-- Lunch ===========================================================-->
			<div class="small-12 large-6 columns menu-column">
				<h3 class="menu-section-title">Lunch</h3>
				<p class="menu-info"><i>Lunch menu served from 11:30 A.M. to 6:30 P.M.<br>
				All sandwiches served with a choice of salad or potato salad</i></p>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Flatbread Sandwich</span>
						<span class="price">7.50</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Ham, w/ melted provolone cheese & red peppers</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served hot from the panini grill</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Avocado BLT</span>
						<span class="price">7.25</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Smoked bacon, lettuce, tomato & avocado</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served hot from the panini grill on ciabatta roll</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Turkey Avocado BLT</span>
						<span class="price">7.95</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Roasted turkey, smoked bacon, avocado, lettuce & tomato</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served hot from the panini grill on ciabatta roll</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Garden Sandwich</span>
						<span class="price">6.25</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Lettuce, tomato, shredded carrots, roasted red pepper, red onions, avocado & mayo</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Served with the house special spread on ciabatta roll</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Ham or Turkey Swiss Croissant</span>
						<span class="price">5.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Ham or turkey w/ melted swiss cheese</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Southwest Salad</span>
						<span class="price">5.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Green lettuce, black beans, corn, tomatoes, red & green peppers, cheese, chicken & tortilla chips with spicy southwest dressing</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Bean Flatbread Quesadilla</span>
						<span class="price">4.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Refried beans, mix peppers and cheese on flatbread</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Chicken Flatbread Quesadilla</span>
						<span class="price">5.99</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Seasoned chicken and cheese on a flatbread</span>
					</div>
				</div>

				<h4 id="daily-special">Ask for our daily special</h4>

			</div>
		</div>

<!-- Drinks -->
		<div class="small-12 column">
			<h3 class="menu-section-title" id="menu-drinks-title">Drinks</h3>
			<p class="menu-info"><i>Serving roasts from Colectivo Coffee Roasters</i></p>
		</div>

				<!-- Espresso =======================================================-->
		<div class="row expanded">
			<div class="small-12 large-6 columns menu-column">
				<h4 class="menu-sub-heading">Espresso</h4>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Espresso Shot</span>
					</div>
					<div class="item-row">
						<span class="sub-title">1 shot</span>
						<span class="price">2.10</span>
					</div>
					<div class="item-row">
						<span class="sub-title">2 shots</span>
						<span class="price">2.35</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Macchiato</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Espresso shot w/ a dash of milk</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">1 shot</span>
						<span class="price">2.25</span>
					</div>
					<div class="item-row">
						<span class="sub-title">2 shots</span>
						<span class="price">2.95</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Latte</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Frothy milk poured through espresso</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">small</span>
						<span class="price">3.50</span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">3.75</span>
					</div>
					<div class="item-row">
						<span class="sub-title">large</span>
						<span class="price">4.50</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Mocha</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Latte w/ chocolate syrup</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">small</span>
						<span class="price">3.75</span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">4.50</span>
					</div>
					<div class="item-row">
						<span class="sub-title">large</span>
						<span class="price">4.75</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Americano</span>
						<span class="price">3.50</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Espresso w/ hot water</i></span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Cappucino</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Extra frothy milk poured into espresso</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">small</span>
						<span class="price">3.50</span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">3.75</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Conpana</span>
						<span class="price">2.95</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Espresso shot w/ whipped cream</i></span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Cortado</span>
						<span class="price">2.95</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Equal parts espresso & steamed milk</i></span>
					</div>
				</div>

			</div>

		<!-- Coffee & Tea ======================================================-->
			<div class="small-12 large-6 columns menu-column">
				<h4 class="menu-sub-heading">Coffee & Tea</h4>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Coffee</span>
						<span class="sub-title"><i>(in a mug)</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">small</span>
						<span class="price">1.70</span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">1.90</span>
					</div>
					<div class="item-row">
						<span class="sub-title">large</span>
						<span class="price">2.10</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Coffee To Go</span>
					</div>
					<div class="item-row">
						<span class="sub-title">In a personal mug <i>(20oz maximum)</i></span>
						<span class="price">1.90</span>
					</div>
					<div class="item-row">
						<span class="sub-title">In a paper cup</span>
					</div>
					<div class="item-row">
						<span class="sub-title">small</span>
						<span class="price">1.90</span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">2.10</span>
					</div>
					<div class="item-row">
						<span class="sub-title">large</span>
						<span class="price">2.30</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Iced Coffee</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Chilled dark roasted brew</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">small</span>
						<span class="price">2.30</span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">2.55</span>
					</div>
					<div class="item-row">
						<span class="sub-title">large</span>
						<span class="price">2.80</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Masala Chai Latte</span>
					</div>
					<div class="item-row">
						<span class="sub-title">small</span>
						<span class="price">3.45</span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">3.95</span>
					</div>
					<div class="item-row">
						<span class="sub-title">large</span>
						<span class="price">4.25</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Hot Tea</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Choose from over 20 loose-leaf teas</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">All sizes</span>
						<span class="price">2.10</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Iced Tea</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Ask for today's brew</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">small</span>
						<span class="price">2.00</span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">2.25</span>
					</div>
					<div class="item-row">
						<span class="sub-title">large</span>
						<span class="price">2.55</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Caf&#233; Au Lait</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Brewed coffee w/ steamed milk</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">small</span>
						<span class="price">2.75</span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">2.95</span>
					</div>
					<div class="item-row">
						<span class="sub-title">large</span>
						<span class="price">3.15</span>
					</div>
				</div>
			</div>

		</div> <!-- close row -->

		<!-- Other Drinks and pastries -->
		<div class="row expanded">
			<div class="small-12">
				<h4 class="menu-sub-heading" id="other-drinks">Other Drinks</h4>
			</div>
		</div>
				<!-- Other Drinks 1st column =======================================-->
		<div class="row expanded">
			<div class="small-12 large-6 columns menu-column">

				<div class="item">
					<div class="item-row">
						<span class="item-name">Smoothies</span>
					</div>
					<div class="item-row">
						<span class="sub-title">Classic</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Strawberry, O.J. banana, vanilla yogurt</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">Very Berry</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Blueberry, strawberry, banana, O.J. vanilla yogurt</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">3.75</span>
					</div>
					<div class="item-row">
						<span class="sub-title">large</span>
						<span class="price">4.50</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Frapp&#233;s</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Blended drinks with espresso and choice of white or dark chocolate</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">3.75</span>
					</div>
					<div class="item-row">
						<span class="sub-title">large</span>
						<span class="price">4.50</span>
					</div>
				</div>


			</div> <!-- close other drinks 1st column -->
			<!-- Other drinks 2nd column -->
			<div class="small-12 large-6 columns menu-column">

				<div class="item">
					<div class="item-row">
						<span class="item-name">Hot Cocoa or Mexican Spiced Cocoa</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Choice of cocoa w/ steamed milk</i></span>
					</div>
					<div class="item-row">
						<span class="sub-title">small</span>
						<span class="price">2.75</span>
					</div>
					<div class="item-row">
						<span class="sub-title">medium</span>
						<span class="price">3.00</span>
					</div>
					<div class="item-row">
						<span class="sub-title">large</span>
						<span class="price">3.25</span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">Italian Soda</span>
						<span class="price">2.75</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Sparkling water w/ flavored syrup</i></span>
					</div>
				</div>

				<div class="item">
					<div class="item-row">
						<span class="item-name">French Cr&#233;me Soda</span>
						<span class="price">2.75</span>
					</div>
					<div class="item-row">
						<span class="sub-title"><i>Italian soda w/ a splash of cream</i></span>
					</div>
				</div>

			</div> <!-- close other drinks second column -->

		</div> <!-- close other drinks row -->
