<!-- nav.ejs, top navigation for all pages-->

<!-- Sticky mobile: ensures menu sticks to top of screen when scrolling ===-->
<div id="menu-container" data-sticky-container>
	<div id="sticky-mobilemenu" class="sticky"
		data-sticky data-options="stickTo:top; stickyOn:small;">


		<div class="title-bar vertical" data-responsive-toggle="mobile-drop-down"
			data-hide-for="medium">
			<button class="menu-icon" type="button" data-toggle></button>
			<div class="title-bar-title">Menu</div>
		</div>

		<div id="mobile-drop-down" class="hide-for-medium">
		  <ul class="dropdown menu vertical" data-dropdown-menu>
		    <li><a href="#">Home</a></li>
		    <li><a href="#">Menu</a></li>
		    <li><a href="#">Location & Hours</a></li>
		  </ul>
		</div>

		<!-- Desktop Menu =========================================================-->
		<div class="top-bar menu hide-for-small-only" id="navigation-bar">
			<div class="top-bar-left">
				<ul class="menu">
					<li class="menu-text"><a href="#">Highland Espresso Bar</a></li>
				</ul>
			</div>
			<div class="top-bar-right">
				<ul class="menu">
					<li><a href="#">Home</a></li>
					<li><a href="#">Menu</a></li>
					<li><a href="#">Location & Hours</a></li>
				</ul>
			</div>
		</div>

	</div>
</div>
