<!-- nav.ejs, top navigation for all pages-->

<div class="top-bar">
	<div class="top-bar-left">
		<ul class="menu">
			<li class="menu-text"><a href="#">Highland Espresso Bar</a></li>
		</ul>
	</div>
	<div class="top-bar-right">
		<ul class="menu">
			<li><a href="#">Home</a></li>
			<li><a href="#">Menu</a></li>
			<li><a href="#">About</a></li>
		</ul>
	</div>
</div>
