<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Highland Espresso Bar</title>

	<!-- FONTS and CSS -->

	<!-- Foundation (responsive design framework) -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
	<link rel="stylesheet" href="styles.css" />
</head>
<body>

	<!-- Load Navigation partial from partials folder -->
	<% include ./partials/nav %>

	<main>
		<!-- TOP -->
		<div id="top">
			<h1>test</h1>
		</div>

		<!-- Menu ==============================================================-->
		<div class="row expanded menu-section">
			<% include ./partials/menu %>
		</div>

	</main>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>


</body>
</html>
