<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Highland Espresso Bar</title>

	<!-- FONTS and CSS -->

	<!-- Foundation (responsive design framework) -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css" integrity="sha256-itWEYdFWzZPBG78bJOOiQIn06QCgN/F0wMDcC4nOhxY=" crossorigin="anonymous" />
	<link rel="stylesheet" href="styles.css" />
</head>
<body>

	<!-- Load Navigation partial from partials folder -->
	<% include ./partials/nav %>

	<main>
		<!-- TOP -->
		<div id="top">
			<h1>test</h1>
		</div>

		<!-- Menu ==============================================================-->
		<div class="container">
			<div class="row">
				<div class="menu-section">

			<!-- Menu Title -->
					<h2 class="menu-title">Menu</h2>

			<!-- Drinks -->

					<div class="small-12 medium-6 columns">
						<h3 class="menu-title">Drinks</h3>
					</div>

				<!-- Food -->

					<div class="small-12 medium-6 columns">
						<h3 class="menu-title">Food</h3>
					</div>

				</div>
			</div>
		</div>
	</main>

<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script>

</body>
</html>
