<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Highland Espresso Bar</title>
	<!-- FONTS and CSS -->
	<link rel="stylesheet" href="foundation.min.css" />
	<link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet">
	<link rel="stylesheet" href="styles.css" />
</head>
<body>

	<!-- Navigation ==========================================================-->
	<% include ./partials/nav %> <!-- Load navigation partial -->

	<main>
		<!-- TOP ===============================================================-->
		<div id="top">

			<div class="row expanded collapse">
				<div class="small-12 large-8 columns">
					<img class="top-images" src="coffeeForegroundRight.jpg"></img>
				</div>
				<div class="show-for-large large-4 columns">
					<img class="top-images" src="coffeeCloseUp.jpg"></img>
				</div>
			</div>

			<div class="row expanded collapse">
				<div class="show-for-large large-4 columns">
					<img class="top-images" src="highland-table.jpg"></img>
				</div>
				<div class="show-for-large large-8 columns">
					<img class="top-images" src="pastry-close-up.jpg"></img>
				</div>
			</div>

		</div>

		<!-- Menu ==============================================================-->
		<div class="menu-section">
			<% include ./partials/menu %> <!-- Load menu partial -->
		</div>

		<!-- Location and Hours ================================================-->
		<div id="location-hours-section">
			<div class="row expanded">
				<div class="small-12 columns">
					<h2 id="loc-hours-title">Location & Hours</h2>
				</div>
			</div>
			<!-- Location Column =================================================-->
			<div class="row expanded">
				<div class="small-12 large-6 columns" id="location-column">
					<p id="physical-address">45 S Basset St, Madison, WI 53703<br>
					<i>Corner of N Basset St. and W Main St.</i></p>
					<img src="outside.jpg" alt="Entrance of Highland Espresso"
					id="entrance-image" />
					<a class="button large" id="directions-link" href="https://www.google.com/maps/dir//Highland+Espresso+Bar,+45+S+Bassett+St,+Madison,+WI+53703/@43.0755545,-89.3977655,15z/data=!4m9!4m8!1m0!1m5!1m1!1s0x88065330854d35a9:0x6252c50986011bdd!2m2!1d-89.389607!2d43.0694599!3e0">Get Directions</a>
				</div>
			<!-- Hours Column ====================================================-->
				<div class="small-12 large-6 columns" id="hours-column">
					<table id="hours-table">
						<thead>
							<tr>
								<th class="hours-table-headings">Day</th>
								<th class="hours-table-headings">Open</th>
								<th class="hours-table-headings">close</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Monday</td>
								<td>6:30am</td>
								<td>2:00pm</td>
							</tr>
							<tr>
								<td>Tuesday</td>
								<td>6:30am</td>
								<td>5:00pm</td>
							</tr>
							<tr>
								<td>Wednesday</td>
								<td>6:30am</td>
								<td>5:00pm</td>
							</tr>
							<tr>
								<td>Thursday</td>
								<td>6:30am</td>
								<td>5:00pm</td>
							</tr>
							<tr>
								<td>Friday</td>
								<td>6:30am</td>
								<td>7:00pm</td>
							</tr>
							<tr>
								<td>Saturday</td>
								<td>6:30am</td>
								<td>7:00pm</td>
							</tr>
							<tr>
								<td>Sunday</td>
								<td>7:00am</td>
								<td>5:00pm</td>
								<td></td>
							</tr>
						</tbody>
					</table>

				</div>
			</div>

		</div>

	</main>

<!-- FOOTER -->
<footer class="footer">

	<div class="row expanded">
    <div class="small-12 medium-4 columns" id="social-media-section">
			<p>Connect with us on
				<a href="https://www.facebook.com/HighlandEspresso/" target="_blank">
				Facebook</a>
			</p>
			<a href="https://www.facebook.com/HighlandEspresso/" target="_blank">
				<i class="fa fa-facebook" aria-hidden="true" id="facebookFA"></i>
			</a>
	  </div>

	  <div class="small-12 medium-4 columns">
			<div class="email">
				<p>You can reach us by email at:</p>
				<a href="mailto:highlandespressobar@gmail.com"
					class="button email-button" target="_blank">
					<i class="fa fa-envelope" aria-hidden="true">
					</i> highlandespressobar@gmail.com
				</a>
			</div>
		</div>

		<div class="small-12 medium-4 columns">
			<div class="phone-number">
				<p>Call ahead, we'll have it ready!</p>
					<p>(608) 630-9274</p>
			</div>
		</div>

		<div class="row expanded">
			<div class="small-12 columns">
				<p class="copywrite">© 2017 Highland Espresso Bar
					| Website: <a href="http://www.sebastianpetak.com/" target="_blank">
					Sebastian Petak</a>
				</p>
			</div>
		</div>

	</div>

</footer>

<!-- Scripts -->
<script src="vendor/jquery.js"></script>
<script src="vendor/what-input.js"></script>
<script src="vendor/foundation.min.js"></script>
<script src="app.js"></script>
<script src="https://use.fontawesome.com/051c11d619.js"></script>


</body>
</html>
